<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Countries and Languages</title>
        <script src='/jquery.min.js'></script>
        <script src='/d3.min.js'></script>
        <script src='/js/bootstrap.min.js'></script>
        <script type="text/javascript">
            var dane = {};

            dane["kraje"] = <%- kraje %>.kraje || null;
            dane["jezyki"] = <%- jezyki %>.jezyki || null;
            dane["kod"] = "<%- kod %>" || null;
        </script>
        <script src="/js/countryCode.js"></script>
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/css/center.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1>Language use in</h1>
                <div>
                    <a class="btn btn-primary btn-lg" role="button" href='/countries'>Countries</a>
                    <a class="btn btn-primary btn-lg" role="button" href='/groupedCountries'>Languages by Numbers</a>
                </div>
            </div>
        </div>
        <div class="container"> 
            <div class="row">
                <div class="col-sm-9 col-md-9">
                    <div class="thumbnail">
                        <div class="svg"></div>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3">
                    <div class="thumbnail">
                        <h2>Legend:</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Color</th>
                                    <th>Language</th>
                                    <th>Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                        <div id="legend"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>