<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Countries and Languages</title>
        <script src='jquery.min.js'></script>
        <script src='js/bootstrap.min.js'></script>
        <script type="text/javascript">
            var dane = {};

            dane["kraje"] = <%- kraje %>.kraje || null;
            dane["jezyki"] = <%- jezyki %>.jezyki || null;

        </script>
        <script src="/js/groupedCountries.js"></script>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <div>
                  <h1>Countries and languages</h1>
                </div>
                <div>
                    <a class="btn btn-primary btn-lg" role="button" href='/countries'>Countries</a>
                    <a class="btn btn-primary btn-lg" role="button" href='/groupedCountries'>Languages by Numbers</a>
                </div>
            </div>
        </div>
        <div class="container"> 
            <table class="table table-striped">
             <thead>
              <tr>
                 <th>Language</th>
                 <th>Population Use</th>
                 <th>Global Population % Use</th>
              </tr>
             </thead>
             <tbody>
             </tbody>
            </table>
        </div>
    </body>
</html>